@import url('https://fonts.cdnfonts.com/css/rollgates-victoria');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

body{
    min-height: 200vh;
    font-family: "Aeroport Light", sans-serif;
    font-weight: 300;
}

.hero__slider-darlings{
    position: relative;
    width: 100%;
	  background: rgb(145, 143, 126);
}

.myslider{
    height: 650px;
    display: none;
    overflow: hidden;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}

.prev, .next{
    color: #fff;
}
.prev:hover, .next:hover{
    color: #3498db;
}

.next{
    right: 30px;
}
.prev{
    left: 30px;
}

.prev img, .next img{
    width: 40px;
}

.img__hero__darligs{
    width: 100%;
    height: 100%!important;
}

.dotsbox{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 5px solid rgba(250, 250, 250, .7);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.active, .dot:hover{
    border-color: #fff;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade{
    from {opacity: .3}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .3}
    to {opacity: 1}
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade.show {
    opacity: 1;
  }

.t__s-darlings{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 2px;
    line-height: 35px;
    top: 20%;
    left: 16%;
    -webkit-animation-name: post;
    -webkit-animation-duration: 2s;
    animation-name: post;
    animation-duration: 2s;
    z-index: 1;
}
.t__s-darlings img{
    width: 60px;
}
.t__s-darlings-2 img{
    width: 60px;
    filter: invert(100%);
}

.second__img__title{
    margin-left: 5px;
    margin-right: 5px;
}

.t__s-darlings h1{
    font-family: 'rollgates-victoria' !important;                                           
    color: #fff;
    font-weight: 500;
    font-size: 72px;
    width: 540px;
    line-height: 70px;
}
.t__s-darlings p{
    font-size: 18px;
	  margin-top: -10px;
}

.t__s-darlings-2 h1{
    color: #000;
}
.t__s-darlings-2 p{
    color: #000;
}

.btn__slider-d{
    margin-top: 30px;
    font-family: 'rollgates-victoria' !important;
    font-size: 22px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    text-decoration: none;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn__slider-d:hover{
	color: #fff;
}
.btn__slider__p{
    margin: 0!important;
    padding: 0!important;
	  height: 35px;
}

.btn__sd-2{
    border: 1px solid #000;
    color: #000;
}

.myslider img{
    transform: scale(1.1, 1.1);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
	  object-fit: cover;
}

/* @media(min-width: 1800px){
	.myslider img{
		object-fit: fill;
	}
} */

@-webkit-keyframes zoomin{
    from{transform: scale(1, 1);}
    to{
        transform: scale(1.2, 1.2);
    }
}

@keyframes zoomin{
    from{transform: scale(1, 1);}
    to{
        transform: scale(1.2, 1.2);
    }
}

@media screen and (max-width: 1200px){
    .t__s-darlings h1{
        font-size: 60px;
        line-height: 60px;
    }

    .prev img, .next img{
        width: 30px;
    }

    .myslider{
        height: 580px;
    }
}

@media screen and (max-width: 1000px){
    .t__s-darlings{
        left: 14%;
    }

    .t__s-darlings h1{
        font-size: 54px;
        width: 425px;
    }

    .t__s-darlings img{
        width: 45px;
    }

    .t__s-darlings p{
        font-size: 16px;
    }

    .btn__slider-d{
        font-size: 20px;
    }

    .prev img, .next img{
        width: 30px;
    }

    .myslider{
        height: 580px;
    }
}

@media screen and (max-width: 800px){
    .myslider{
        height: 500px;
    }

    .prev img, .next img{
        width: 25px;
    }

    .t__s-darlings h1{
        font-size: 44px;
        line-height: 46px;
    }

    .t__s-darlings p{
        font-size: 16px;
    }

        .t__s-darlings img{
        width: 35px;
    }

        .prev{
        left: 10px;
    }
    .next{
        right: 10px;
    }
    
}

@media screen and (max-width: 600px){
    .t__s-darlings h1{
        font-size: 36px;
        line-height: 34px;
        width: 285px;
    }

    .myslider{
        height: 400px;
    }

        .btn__slider-d{
        font-size: 18px;
    }

        .prev img, .next img{
        width: 20px;
    }

    .t__s-darlings{
        left: 18%;
    }

    .prev{
        left: 5px;
    }
    .next{
        right: 5px;
    }
		
	 .btn__slider-d{
			width: 150px;
		 height: 35px
	 } 
	
	.btn__slider__p{
		height: 30px;
	}
}

@media screen and (max-width: 450px){
    .myslider{
        height: 360px;
    }
    
    .prev{
        left: 5px;
    }
    .next{
        right: 5px;
    }

    .t__s-darlings h1{
        font-size: 30px;
        line-height: 32px;
        width: 265px;
    }

    .t__s-darlings p{
        font-size: 14px;
    }
}

/* ================================================ */
/* ==END OF SLIDER ================================ */
/* ================================================ */

